h1{
    text-align: auto;
    color:rgb(255, 252, 252) ;
    background: deeppink;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 65px;
}

body{
    background-color: rgb(255, 255, 255);
}

/*Estiliza pelo id do elemento #nomeElemento*/
.titulo {
    
    padding-top: 2%;
    font-size: 30px; /*Altera o tamanho da letra*/
    font-family: 'Courier New', Courier, monospace; /*Altera o tipo de fonte*/
}

/*Estilizando a tabela pelo id #PlacaMae, a coluna pela tag td e também a linha pela tag tr*/
table, td{
    /*A borda tem 2px de espessura, é do tipo solid (linha contínua) e a cor será preta*/
    border: 1px solid deeppink;
    border-collapse: collapse;
    /*color: deeppink;*/

}
td{
    text-align: center; /*Alinhando o texto para o centro*/
    width: auto; /*Definindo a largura da coluna*/
}

#cabecalho2{
    background-color: deeppink; /*Cor do fundo*/
    color:rgb(255, 255, 255); /*Cor da letra*/
    
    font-family: 'Courier New', Courier, monospace; /*Definir o tipo de letra*/
    font-weight: bold; /*Colocar em negrito*/
    font-size: 15px; /*Tamanho da letra*/

}

table, td{
    /*A borda tem 2px de espessura, é do tipo solid (linha contínua) e a cor será preta*/
    border: 1px solid deeppink;

}
td{
    text-align: center; /*Alinhando o texto para o centro*/
    width: auto; /*Definindo a largura da coluna*/
}

#cabecalho1{
    background-color: deeppink; /*Cor do fundo*/
    color:rgb(255, 255, 255); /*Cor da letra*/
    
    font-family: 'Courier New', Courier, monospace; /*Definir o tipo de letra*/
    font-weight: bold; /*Colocar em negrito*/
    font-size: 15px; /*Tamanho da letra*/
}

/*Mudando largura da tabela de painel de conectores, utilizando id PainelConectores*/
#PainelConectores{
    width: 700px;
}

#cabecalho3{
    background-color: deeppink; /*Cor do fundo*/
    color:rgb(255, 255, 255); /*Cor da letra*/
    
    font-family: 'Courier New', Courier, monospace; /*Definir o tipo de letra*/
    font-weight: bold; /*Colocar em negrito*/
    font-size: 15px; /*Tamanho da letra*/
}

